################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/homework4/Client/.vs/Client/v15/Browse.VC.opendb
homework6/数据库登录/Client/Client.pro.user
homework6/数据库登录/Client/Client.pro.user
homework6/数据库登录/Client/Client.pro.user
